{{#partial "body"}}
    <section>
        <div class="container">
            <div class="password">
                <h2>Admin Access Required</h2>
                <form action="/password" method="post">
                    <label for="password">Enter Password</label>
                    <input type="password" name="password" id="password" required><br>
                    <input type="submit" value="Submit" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}